  <div class="container">
    <div class="card-product">
      <img src="https://source.unsplash.com/1600x900/?coffee" />
        <div class="card-product-infos">
          <h2>Marca: <%= @coffee.brand %></h2>
          <p>Região: <%= @coffee.region %></p>
          <p>Grão: <%= @coffee.bean %></p>
          <p>Notas sensoriais: <%= @coffee.sensory_note %></p>
          <p>Clasifficação: <%= @coffee.classification %></p>
          <p>Moagem: <%= @coffee.grinding %></p>
          <p>Preco: R$<%= @coffee.price %></p>
          <p>Descrição: <%= @coffee.description %></p>
          <div id="button-div">
          <% if @coffee.user == current_user %>
          <%= link_to "Editar esse café", edit_coffee_path(@coffee), class: "btn btn-primary" %>
          <%= button_to "Deletar esse café", coffee_path(@coffee), method: :delete, class: "btn btn-primary" %>
          <% end %>
          <%= link_to "Voltar para os cafés", coffees_path, class: "btn btn-return" %>
          <% if @coffee.user != current_user %>
          <%= button_to "Comprar!", sales_path(coffee_id: @coffee.id), method: :post, class: "btn btn-primary" %>
          <% end %>
          </div>
      </div>
      </div>
</div>
