<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">


  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "logo.png", class: "logo" %>
    <% end %>
<div class="col-6 d-flex">
    <p class="me-3 mt-3">Qual método?</p>
    <p class="me-3 mt-3">Mais vendidos</p>
    <p class="me-3 mt-3">Especiais</p>
    <p class="me-3 mt-3">Historia do café</p>
</div>

    <%= form_with url: coffees_path, method: :get, class: "d-flex", id: "search" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control input-form",
            placeholder: "Qual o cafézin de hoje?"
        %>
      <%= button_tag(type: "submit", class: "btn btn-icon") do %>
        <i class="fa-sharp fa-solid fa-magnifying-glass"></i>
      <% end %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item me-4">
              <%= button_to "Sair", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
              <%= link_to "Minha conta",  my_coffees_path, class: "dropdown-item mt-2" %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "dropdown-item me-4" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
