<!DOCTYPE html>
<html>
  <head>
    <title>RoastHub</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" %>
  </head>

  <body>
    <div class="body-div">
      <%= render "shared/navbar" %>
      <%= render "shared/flashes" %>
      <div class="container" style="min-height: calc(100vh - 80px)">
        <%= yield %>
        <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" %>
      </div>
      <%= render "shared/footer" %>
    </div>
  </body>
</html>
